/* Commun */
body
{
    font-family: Arial, Helvetica, sans-serif;
    height : 95%;
    width : 95%;
	background-image: url("Image/background.png");
	background-size: 100% 100%;
}

#logo
{
	width:69px;
	height:69px;
    display:block;
    margin:auto;
}

#label_IdTableau
{
    text-align: center;
    display:block;
    margin:5px;
}

table
{
    width:90%;
    margin:auto;
    display:block;
	margin-top:10px;
	margin-bottom:10px;
}

table, th, td {
    border: 1px solid black;
    border-radius:9px;
    border-collapse: collapse;
    text-align:center;
}

th, td {
    padding: 3px 15px;
}

th{
	background:gray;
}

td{
	background:white;
}

a{
    text-decoration: none;
    color:black;
}

.BlocEdition
{
    border:solid black 1px;
    width:10%;
    height:85%;
	background:#fff;
}

.BtnDivEdition
{
    border-radius:12px;
    margin:auto;
    display:block;
    width:80%;
	padding:5px 0px;
	margin-top:5px;
	margin-bottom:5px;
}


/* AffichageListe */
.BlocHeader
{
    border: solid black 1px;
    width: 95%;
    height: 5%;
    background: #fff;
    margin: 5px 0px;
}

.BlocAffichageListe
{
    border:solid black 1px;
    width:85%;
    height:85%;
	background:#fff; 
}

.BlocAffichageListe, .BlocEdition
{
    display:inline-block;
    vertical-align: top;
}

label[for="IdUser"]
{
    float:right;
    margin: 10px;
}

button[name="ButtonSeDeconnecter"]
{
    float:right;
    border-radius:12px;
    margin:auto;
    display:block;
	padding:5px 0px;
	margin:5px;
}

/* GestionListe */
.BlocGestionListe
{
    Border : solid black 1px;
    Padding:10px;
    width:70%;
    height:85%;
    margin: auto;
	text-align:center;
	background:#fff; 
}

.BlocList
{
    Border : solid black 1px;
    Padding:10px;
    width:90%;
    height:90%;
    margin: auto;
	background:#fff; 
}

.BlocEdition, .BlocGestionListe
{
	display: inline-block;
	vertical-align: top;
}

#DDL_Classe
{
    margin-top:30px;
}

.cb{
	text-align:left;
}

.cb label{
    display: block;
    height: 20px;
}
.cb input{
    float: left;
}

#ButtonseDeconnecter
{
    width: 10%;
}