/* Commun */
body
{
    font-family: Arial, Helvetica, sans-serif;
    height : 95%;
    width : 95%;
	background-image: url("Image/background.jpg");
	background-size: 100% 100%;
}

#logo
{
	width:36x;
	height:36px;
    float : left;
}

#label_IdTableau
{
    text-align: center;
    display:block;
    margin:5px;
}

table
{
    width:90%;
    margin:auto;
    display:block;
	margin-top:10px;
	margin-bottom:10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
}

th, td {
    padding: 3px 15px;
}

th{
	background:gray;
}

table tr:nth-child(2n+2)
{
    background-color: #CCCCCC;
}

a{
    text-decoration: none;
    color:black;
}

/* AffichageListe */
.BlocHeader
{
    border: solid black 1px;
    width: 100%;
    height: 5%;
    background: #fff;
    margin: 5px 0px;
}

.BlocAffichageListe
{
    border:solid black 1px;
    width:100%;
    height:85%;
	background:#fff;
    overflow: auto;
}

#ButtonRetourListeProf
{
    float:right;
    border-radius:12px;
    margin:auto;
    display:block;
	padding:5px 5px;
	margin:5px;
}

#ButtonAjouterListe
{
    border-radius:12px;
    margin:auto;
    display:block;
	padding:5px 5px;
	margin:5px;
}

.icone_table
{
    height: 15px;
    width: 15px;
}

.RowTableEdition
{
    width: 10px;
}

label[for="IdUser"]
{
    float:right;
}

input[id="ButtonSeDeconnecter"]
{
    float:right;
    border-radius:12px;
    margin:auto;
    display:block;
	padding:5px 0px;
	margin:5px;
}

/* GestionListe */
.BlocGestionListe
{
    Border : solid black 1px;
    width:100%;
    height:85%;
    margin: auto;
	text-align:center;
	background:#fff;
    overflow: auto;
}

.BlocListeClasse
{
    Border : solid black 1px;
    float: left;
    Padding:10px;
    width:30%;
    height:90%;
    margin: 10px;
    overflow: auto;
}

.BlocCreationListeFourniture
{
    Border : solid black 1px;
    float: left;
    Padding:10px;
    width:60%;
    height:90%;
    margin: 10px;
    overflow: auto;
}

.BtnAddNewRowTable
{
    width: 90%;
}

#BtnValiderListeFourniture
{
    float: left;
    position:relative;
    margin-top:100%;   
}

#BtnAnnulerListeFourniture
{
    float: right;
    position:relative;
    margin-top:100%;       
}

.BlocEdition, .BlocGestionListe
{
	display: inline-block;
	vertical-align: top;
}

#DDL_Classe
{
    margin-top:30px;
}

.cb{
	text-align:left;
}

.cb label{
    display: block;
    height: 20px;
}
.cb input{
    float: left;
}

#ButtonseDeconnecter
{
    width: 10%;
}
